<%= form_for(@workflow) do |f| %>
  <% if @workflow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workflow.errors.count, "error") %> prohibited this workflow from being saved:</h2>

      <ul>
      <% @workflow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>

  <div id="workflow">
    <% State.all.each do |state| %>
        <div class="state" id= <%= state.name %> >
          <%= state.name.capitalize! %>
        </div>
        <br/>
    <% end %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
