<p id="notice"><%= notice %></p>

<p>
  <strong>Cash:</strong>
  <%= @payment.cash %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<p>
  <strong>State:</strong>
  <%= @payment.state_machine.current_state%>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
